/.idea
/components/*.pyc
/gui/*.pyc
/gfx/*.pyc
/file/*.pyc
/*.pyc
/net/*.pyc
/mockups/worldforge_gui/.vs/worldforge_gui/v15/.suo
/mockups/worldforge_gui/.vs/worldforge_gui/v15/Server/sqlite3/db.lock
/mockups/worldforge_gui/.vs/worldforge_gui/v15/Server/sqlite3/storage.ide
/mockups/worldforge_gui/.vs/worldforge_gui/v15/Server/sqlite3/storage.ide-shm
/mockups/worldforge_gui/.vs/worldforge_gui/v15/Server/sqlite3/storage.ide-wal
/mockups/worldforge_gui/worldforge_gui/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/mockups/worldforge_gui/worldforge_gui/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/mockups/worldforge_gui/worldforge_gui/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/mockups/worldforge_gui/worldforge_gui/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/mockups/worldforge_gui/worldforge_gui/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/mockups/worldforge_gui/worldforge_gui/obj/Debug/worldforge_gui.csproj.CoreCompileInputs.cache
/mockups/worldforge_gui/worldforge_gui/obj/Debug/worldforge_gui.csprojAssemblyReference.cache
/mockups/worldforge_gui/worldforge_gui/bin/Debug/worldforge_gui.exe
/mockups/worldforge_gui/worldforge_gui/bin/Debug/worldforge_gui.exe.config
/mockups/worldforge_gui/worldforge_gui/bin/Debug/worldforge_gui.pdb
/mockups/worldforge_gui/worldforge_gui/obj/Debug/worldforge_gui.Form1.resources
/mockups/worldforge_gui/worldforge_gui/obj/Debug/worldforge_gui.Properties.Resources.resources
/mockups/worldforge_gui/worldforge_gui/obj/Debug/worldforge_gui.csproj.FileListAbsolute.txt
/mockups/worldforge_gui/worldforge_gui/obj/Debug/worldforge_gui.csproj.GenerateResource.cache
/mockups/worldforge_gui/worldforge_gui/obj/Debug/worldforge_gui.exe
/mockups/worldforge_gui/worldforge_gui/obj/Debug/worldforge_gui.pdb
